div(class='post-content')
  div(class='ui grid')
    div(class='four wide column')
      - var gender=({m:'男', f:'女', x:'保密'})[post.author.gender]
      a(class='avatar avatar-link' href='/posts?author=' + post.author._id, data-title=post.author.name + '|' + gender data-content=post.author.bio)
        img(class='avatar' src='/img/'+post.author.avatar)
    div(class='eight wide column')
      div(class='ui segment')
        //- title & date
        div.post-header
          h3.post-title
            a(href='/posts/'+post._id) #{post.title}
          span(class='tag right') #{post.created_at.substr(0,10)}
        //- content
        pre!= post.content
        div
          //- tags
          span(class='tag')
            if post.tags
              img.tag-item(src='/icon/tag.svg')
              each tag in post.tags
                span.tag-item
                  a(title=tag href='/posts?tag='+tag) #{tag}
          //- views & comments
          span(class='tag right')
            span 浏览(#{post.pv || 0})
            span &nbsp;&nbsp;留言(#{post.commentsCount || 0})

            //- 当前登录用户是文章创建者
            if user && post.author._id && user._id.toString() === post.author._id.toString()
              div(class='ui inline dropdown')
                div(class='text')
                i(class='dropdown icon')
                div(class='menu')
                  div(class='item')
                    a(href='/posts/'+post._id+'/edit') 编辑
                  div(class='item')
                    a(href='/posts/'+post._id+'/remove') 删除
