include components/header

div.ui.grid
  div.four.wide.column
    - var gender = ({m: '男', f: '女', x: '保密'})[user.gender]
    a.avatar(href='/posts?author='+user._id, data-title=user.name+' | '+gender, data-content=user.bio)
      img.avatar(src='/img/'+user.avatar)
  div.eight.wide.column
    form.ui.form.segment(method='post', action='/posts/'+post._id+'/edit')
      div.field.required
        label 标题
        input(type='text', name='title', value=post.title)
      div.field.required
        label 内容
        textarea(name='content', rows='15') #{post.content}
      div.field.required
        label 标签（用 , 分隔）
        - var tagsStr = post.tags && post.tags.join();
        input(type='text' name='tags' value=tagsStr)
      input.ui.button(type='submit', value='发布')

include components/footer
